/*@media (min-width: 100px) {*/
    /*.container-scroll > .row {*/
        /*overflow-x: auto;*/
        /*white-space: nowrap;*/
    /*}*/
    /*.container-scroll > .row > .col {*/
        /*display: inline-block;*/
        /*float: none;*/
    /*}*/
/*}*/

body, html{
    height: 100%; !important;
    margin: 0;
    padding: 0;
}

.container-scroll{
    /*overflow-x: auto;*/
    /*white-space: nowrap;*/
}

.col{

}

.container-scroll > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.container-scroll > .row  > .col {
    display: inline-block;
    float: none;
    position: relative;
    top:0;
}

.test{
    background-color: red;
    color: white;
}